# Build
.xmake
/build

# Vscode

/.vscode/compile_commands.json
/.vscode/settings.json
/.vscode/launch.json

# Clangd
/compile_commands.json
/.clangd
/.cache

# Doxygen doc
/doc

# Common CPP files
*.o
*.a
*.lib
*.obj
*.exe
*.so
*.dylib
*.dll
a.out

# WebView2 systen headers
/src/plugins/webview/WebView2.h
/src/plugins/webview/WebView2EnvironmentOptions.h


/vsxmake*