# Build
.xmake
/build

# Vscode

/.vscode/compile_commands.json
/.vscode/settings.json

# Clangd
/compile_commands.json
/.clangd

# Doxygen doc
/doc

# Common CPP files
*.o
*.a
*.lib
*.obj
*.exe
*.so
*.dylib
*.dll
a.out

/vsxmake*